/HotelDatabase/target
/HotelDatabase/.classpath
/HotelDatabase/.projects
/HotelDatabase/.wtpmodules
/HotelDatabase/.settings
/HotelWebapp/target
/HotelWebapp/.classpath
/HotelWebapp/.projects
/HotelWebapp/.wtpmodules
/HotelWebapp/.settings